body::after {
  content: "";
  position: fixed;
  background: #fff;
  top: 260px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

#page-search-results {
  margin: 0 auto;
  max-width: 1100px;
  width: 90%;
}

#page-search-results header {
  align-items: center;
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
}

#page-search-results header a {
  align-items: center;
  color: var(--title-color);
  display: flex;
  font-weight: bold;
}

#page-search-results header a span {
  background-image: url('../assets/arrow-left.svg');
  display: flex;
  margin-right: 16px;
  height: 24px;
  width: 20px;
}

main {
  margin: 48px;
}

main h4{
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-bottom: 34px;
}

main .cards {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}

main .card img {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  height: 150px;
  width: 100%;
}

main .card h1 {
  color: #322153;
  font-size: 36px;
  line-height: 41px;
  margin: 32px;
}

main .card h3 {
  color: var(--primary-color);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  margin: 24px 0;
}

main .card p {
  color: #6c6c80;
  font-size: 16px;
  line-height: 26px;
}